<launch>
    <node pkg="CoCEL_Handheld_DataRecorder" type="ui_node.py" name="ui_node" output="screen"/>

    <rosparam command="load" file="$(find CoCEL_Handheld_DataRecorder)/config/config.yaml" />
    <node pkg="CoCEL_Handheld_DataRecorder" type="handler_node" name="handler_node" output="screen"/>

</launch>